{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-center my-3">Shopping Cart</h1>
      <form action="/checkout" method="POST">
      
      <table class="table table-primary">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {% for item, cantidad in articulos %}
          <tr>
            <td>{{ item['PRODUCT NAME'] }}</td>
            <td>{{ cantidad }}</td>
            <td>{{ item['PRICE'] }}</td>
            <td>{{ '%0.2f' | format(item['PRICE'] * cantidad) }}</td>
            <td>
              <a href={{ '/carrito/delete/'+item['ID'] }}>
                <i class="fa fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3">Total</td>
            <td> {{ total }} </td>
          </tr>
        </tbody>
      </table>
      {% if total > 0 %}
        <button class="btn btn-primary">Comprar</button>
      {% endif %}
    </form>
    </div>
  </div>
</div>

{% endblock %}