{% extends "base.html" %} {% block content %}

<div class="container-fluid mx-auto row justify-content-center">
  <div class="col-md-6">
    {% with messages = get_flashed_messages()%}
    {% if messages %}
    <div class="alert alert-danger mt-3">
      <i class="fa fa-info me-2"></i>
        {{ messages|first }}
    </div>
    {% endif %}
    {% endwith %}
    <h2 class="text-center">Inicia sesion</h2>
    <form class="px-5" method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.email.label(class="form-control-label")}}
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            <span>{{ form.email.errors[0] }}</span>
        </div>
        {% else %}
          {{ form.email(class="form-control form-control-lg")}}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-control-label")}}
        {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.password(class="form-control form-control-lg")}}
        {% endif %}
      </div>

      {{ form.submit(class="my-3 btn btn-primary mx-auto d-block")}}
    </form>
  </div>
</div>

{% endblock %}
