{% extends "base.html" %} {% block content %}

<div class="container-fluid mx-auto row justify-content-center">
  <div class="col-md-6">
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
      <i class="fa fa-info me-2"></i>
        {{ ', '.join(errors) }}
    </div>
    {% endfor %}

    <h2 class="text-center mt-3">Registro de usuario</h2>
    <form method="POST" action="" class="px-5">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.names.label(class="col-sm-2 col-form-label")}}
        {{ form.names(class="form-control")}}
      </div>
      <div class="form-group">
        {{ form.email.label(class="col-sm-2 col-form-label") }}
        {{ form.email(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password1.label(class="col-sm-2 col-form-label") }}
        {{ form.password1(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password2.label(class="col-sm-4 col-form-label") }}
        {{ form.password2(class="form-control") }}
      </div>


      {{ form.submit(class="my-3 btn btn-primary mx-auto d-block") }}
    </form>
  </div>
</div>

{% endblock %}
